/**************************/
/* BELOW 1232px (SMALLER LAPTOPS) */
/**************************/

@media (max-width: 77em) {
  .hero {
    max-width: 110rem;
  }

  .heading-primary {
    font-size: 4.6rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    padding: 1.6rem 4.8rem 1.6rem 4.8rem;
  }

  .footer {
    padding: 14.8rem 4.8rem;
  }
}

/**************************/
/* BELOW 1136px (LANDSCAPE TABLETS) */
/**************************/

@media (max-width: 71em) {
  html {
    font-size: 53%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
}

/**************************/
/* BELOW 960px (TABLETS) */
/**************************/

@media (max-width: 60em) {
  html {
    font-size: 48%;
  }

  .main-nav-list {
    gap: 2.8rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/**************************/
/* BELOW 848px (TABLETS) */
/**************************/

@media (max-width: 53em) {
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .cta {
    grid-template-columns: 3fr 0fr;
  }

  .section-title {
    font-size: 4rem;
  }
}

/**************************/
/* BELOW 672px (MOBILE) */
/**************************/

@media (max-width: 42em) {
  .hero {
    display: block;
  }

  .cta-text-box {
    margin: 0 -5%;
  }

  .hero-img {
    width: 0;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .grid--4-cols-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-1 {
    display: block;
  }

  .logo-col {
    margin-bottom: 4.8rem;
  }
}

/**************************/
/* MIN WORKING WIDTH 500px */
/**************************/
